<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ichint.crm.platform.mapper.ImportTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ichint.crm.platform.entity.ImportTask">
        <id column="id" property="id" />
        <result column="task_type" property="taskType" />
        <result column="task_name" property="taskName" />
        <result column="start_time" property="startTime" />
        <result column="finish_time" property="finishTime" />
        <result column="task_status" property="taskStatus" />
        <result column="task_status_name" property="taskStatusName" />
        <result column="pretreatment_json" property="pretreatmentJson" />
        <result column="processing_json" property="processingJson" />
        <result column="extra_json" property="extraJson" />
        <result column="create_time" property="createTime" />
        <result column="creator_id" property="creatorId" />
        <result column="creator_name" property="creatorName" />
        <result column="update_time" property="updateTime" />
        <result column="updator_id" property="updatorId" />
        <result column="updator_name" property="updatorName" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, task_type, task_name, start_time, finish_time, task_status, task_status_name, pretreatment_json, processing_json, extra_json, create_time, creator_id, creator_name, update_time, updator_id, updator_name, is_deleted
    </sql>

</mapper>
